{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                {% for element in data %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Image</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ element.recipe.title }}</td>
                            {% if element.recipe.discountPrice is not empty %}
                                <td><del>{{ element.recipe.discountPrice }} €</del> {{ element.recipe.price  }} €</td>
                            {% else %}
                                <td>{{ element.recipe.price  }} €</td>
                            {% endif %}
                            <td>
                                <img src="{{ vich_uploader_asset(element.recipe, 'thumbnailFile') }}" style="width: 50px" alt="">
                            </td>
                            <td>{{ element.quantity }}</td>
                            {% if element.recipe.discountPrice is not empty %}
                                <td>{{ (element.quantity * element.recipe.discountPrice) }} €</td>
                            {% else %}
                                <td>{{ (element.quantity * element.recipe.price)  }} €</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('cart_add', {id: element.recipe.id}) }}" class="btn btn-success">+</a>
                                <a href="{{ path('cart_remove', {id: element.recipe.id}) }}" class="btn btn-warning">-</a>
                                <a href="{{ path('cart_delete', {id: element.recipe.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    <tfoot>
                    <tr>
                        <td colspan="4"><strong>Total</strong></td>
                        <td><strong>{{ total  }} €</strong></td>
                        <td>
                            <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider</a>
                        </td>
                    </tr>
                    </tfoot>
                    {% else %}
                        <tr>
                            <td colspan="6">Votre panier est vide</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <a href="{{ path('orders_add') }}" class="btn btn-primary">valider le panier</a>
            </div>

        </section>
    </main>
{% endblock %}
