{% extends 'admin/admin.html.twig' %}

{% block title %}{{ ingredient.name }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ ingredient.name }}</h1>


        {% if ingredient.thumbnail %}
            <img src="{{vich_uploader_asset(ingredient,'thumbnailFile')}}" alt="">
        {% endif %}

        <div class="mt-4">
            <a href="{{ path('admin.ingredient-edit', {id: ingredient.id}) }}" class="btn btn-warning btn-sm">Modifier</a>

            <form action="{{ path('admin.ingredient-delete', {id: ingredient.id}) }}" method="POST" style="display:inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
