{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Commande Confirmée</h1>
        <p>Merci, votre commande a été confirmée avec succès.</p>
        <p>Voici les détails de votre commande :</p>

        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Sous-total</th>
            </tr>
            </thead>
            <tbody>

            {% for orderDetail in orderDetails %}
                {% set total = orderDetail.price * orderDetail.quantity%}
                <tr>
                    <td>{{ orderDetail.recipes.title }}</td>
                    <td>{{ orderDetail.price }} €</td>
                    <td>{{ orderDetail.quantity }}</td>
                    <td>{{ (orderDetail.price * orderDetail.quantity)   }} €</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td><strong>{{ total  }} €</strong></td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
