{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">

                        <h3 class="mt-5 mb-4">Détails de la commande :</h3>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr class="bg-primary text-white">
                                    <th>Produit</th>
                                    <th>Prix unitaire</th>
                                    <th>Quantité</th>
                                    <th>Sous-total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderDetail in orderDetails %}
                                    <tr>
                                        <td>{{ orderDetail.recipes.title }}</td>
                                        <td>{{ orderDetail.price }} €</td>
                                        <td>{{ orderDetail.quantity }}</td>
                                        <td>{{ (orderDetail.price * orderDetail.quantity) }} €</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="bg-primary text-white">
                                    <td colspan="3"><strong>Total</strong></td>
                                    <td><strong>{{ total }} €</strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <form action="{{ path('payment_stripe',{reference:reference}) }}" method="post" class="mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Payer</button>
                        </form>
                        <a href="{{ path('addresses_index') }}" class="btn btn-outline-secondary mb-3">
                            <i class="fas fa-arrow-left mr-2 "></i> Back to addresses
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
